<!-- app/views/confirmations/new.html.erb -->
<h1>Confirm email</h1>
<%= form_with model: @user, url: confirmations_path do |form| %>
  <%= form.email_field :email, required: true %>
  <%= form.submit "Confirm Email" %>
<% end %>
