/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   
 @media not print {
   .printonly {
      display: none;
   }
 }
/* 
 @media print {
   .header, .sidebar, .logo-header, .noprint {
      display: none;
   }

   .res_main {
      display: grid;
      grid-template-areas: 
        'header header'
        'tpinfo checkin'
        'camperinfo resinfo'
        'feeinfo feeinfo'
        'paymentinfo paymentinfo';
   }

   .print_header {
      grid-area: header;
      text-align: center;
   }

   .tp_info {
      grid-area: tpinfo;
   }

   .checkin_info {
      grid-area: checkin;
   }

   .camper_info {
      grid-area: camperinfo;
   }

   .res_info {
      grid-area: resinfo;
   }

   .fee_info {
      grid-area: feeinfo;
   }

   .payment_info {
      grid-area: paymentinfo;
   }

   table {
      width: 100%;
   }

 } */
