/* Style for printing invoices / lot sheets */
@media print {
    .header, .sidebar, .logo-header, .noprint {
       display: none;
    }
 
    .main {
       display: grid;
       grid-template-areas: 
         'header header'
         'tpinfo checkin'
         'camperinfo resinfo'
         'feeinfo feeinfo'
         'paymentinfo paymentinfo';
    }
 
    .print_header {
       grid-area: header;
       text-align: center;
    }
 
    .tp_info {
       grid-area: tpinfo;
    }
 
    .checkin_info {
       grid-area: checkin;
    }
 
    .camper_info {
       grid-area: camperinfo;
    }
 
    .res_info {
       grid-area: resinfo;
    }
 
    .fee_info {
       grid-area: feeinfo;
    }
 
    .payment_info {
       grid-area: paymentinfo;
    }
 
    table {
       width: 100%;
    }
 
  }