<h1>Reports Index</h1>
<p>Place links to all reports here</p>
<p><%= link_to "Temp Totals Report", 'reports/totals' %></p>
<p><%= link_to "Email List", 'reports/email_list' %></p>
<p><%= link_to "Invoice List", 'reports/invoice_list' %></p>