<div id="sidebar">
    <p><%= link_to "Reservations", reservations_path %></p>
    <p><%= link_to "Lots", lots_path %></p>
    <p><%= link_to "Campers", campers_path %></p>
    <p><%= link_to "New Reservation", new_reservation_path %></p>
</div>